body {
    margin: 0;
}

header {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    border: 3px solid red;
}

main {
    height: 175vh;
    border: 3px solid green;
}

footer {
    height: 15vh;
    border: 3px solid black;
}

.top-bar {
    width: 100%;
    height: 5vh;
    background-color: rebeccapurple;
    display: flex;
    position: absolute;
}

.product-menu {
    width: 50px;
    height: 100%;
    background-color: rebeccapurple;
    transition: .25s ease-in-out;
}

.product-menu:hover {
    width: 15vw;
    height: 100%;
    background-color: rebeccapurple;
}