<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Olsker Cupcake Orders</title>
  <link rel="icon" type="image/x-icon" href="/img/cupcake_logo.png">
  <link rel="stylesheet" href="/css/styles-website.css">
</head>
<body>
<header>
  <div th:insert="~{header :: header}"></div>
</header>



<main>
  <div th:insert="~{dashboard-topbar :: dashboard-topbar}"></div>
  <div class="dashboard-main">

    <div id="orders-table">
      <h1>Profiles</h1>
      <table>
        <thead>
        <tr>
          <th>Customer email</th>
          <th>Firstname</th>
          <th>Role</th>
          <th>Balance</th>
          <th>Add funds</th>
          <th>Remove user</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, iterStat : ${users}">
          <td th:text="${user.email}"></td>
          <td th:text="${user.firstname}"></td>
          <td th:text="${user.role}"></td>
          <td th:text="${user.balance}"></td>
          <td>
            <form action="/profile/add-funds" method="post">
              <input type="hidden" name="email" th:value="${user.email}">
              <input type="hidden" name="balance" th:value="${user.balance}">
              <input type="number" name="add-funds" min="0" required>
              <button type="submit" class="button-1">Add funds</button>
            </form>
          </td>

          <td>
            <form action="/profile/remove" method="post">
              <input type="hidden" name="email" th:value="${user.email}">
              <button type="submit" class="remove-line-button">Remove</button>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

<footer>
  <div th:insert="~{footer :: footer}"></div>
</footer>

</body>
</html>