<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Olsker Cupcake Basket</title>
  <link rel="icon" type="image/x-icon" href="/img/cupcake_logo.png">
  <link rel="stylesheet" href="/css/styles-website.css">
</head>
<body>
<header>
  <div th:insert="~{header :: header}"></div>
</header>


<main>
  <div th:insert="~{topbar :: topbar}"></div>

  <div>
    <h1>Basket</h1>
    <table>
      <thead>
      <tr>
        <th>Quantity</th>
        <th>Item</th>
        <th>Item price</th>
        <th>Price</th>
      </tr>
      </thead>
        <tbody>
        <tr th:each="item : ${basket}">
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.item}"></td>
            <td th:text="${item.itemPrice}"></td>
            <td th:text="${item.price}"></td>
        </tr>
        </tbody>
    </table>
  </div>
</main>

<footer>
  <div th:insert="~{footer :: footer}"></div>
</footer>

<script src="/js/scripts.js"></script>

</body>
</html>