<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Olsker Cupcake Basket</title>
  <link rel="icon" type="image/x-icon" href="/img/cupcake_logo.png">
  <link rel="stylesheet" href="/src/main/resources/public/css/styles-website.css">
  <link rel="stylesheet" href="/css/styles-website.css">
</head>
<body>
<header>
  <div th:insert="~{header :: header}"></div>
</header>


<main>
  <div th:insert="~{topbar :: topbar}"></div>

  <div>
    <h1>Basket</h1>
    <label th:each="item : ${basket}">
      <p class="flavor-info" th:text="${item.quantity}"></p>
      <p class="flavor-info" th:text="${item.flavor}"></p>
      <p class="flavor-info">Price: <span th:text="${item.salesPrice}"></span></p>
    </label>
  </div>

</main>

<footer>
  <div th:insert="~{footer :: footer}"></div>
</footer>

<script src="/js/scripts.js"></script>

</body>
</html>