<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olsker Cupcake Basket</title>
    <link rel="icon" type="image/x-icon" href="/img/cupcake_logo.png">
    <link rel="stylesheet" href="/css/styles-website.css">
</head>
<body>
<header>
    <div th:insert="~{header :: header}"></div>
</header>


<main>
    <div th:insert="~{topbar :: topbar}"></div>

    <div id="basket-table">
        <h1>Basket</h1>
        <table>
            <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Item price</th>
                <th>Total price</th>
                <th>Remove line</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, iterStat : ${basket}">
                <td th:text="${item.item}"></td>
                <td th:text="${item.quantity}"></td>
                <td th:text="${item.itemPrice}"></td>
                <td th:text="${item.price}"></td>
                <td>
                    <form action="/basket/remove" method="post">
                        <input type="hidden" name="index" th:value="${iterStat.index}">
                        <button type="submit" class="remove-line-button">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <h3 id="total-price-displayed">Total Price: <span th:text="${totalPrice}"></span></h3>
        </div>
    </div>

    <th:block th:if="${not #lists.isEmpty(session.basket)}">
        <a th:href="${session.user != null} ? '/process-payment' : '/login'" id="payment-container">
            <img src="/img/icons/payment.png" id="payment-icon"> Pay
        </a>
    </th:block>
</main>

<footer>
    <div th:insert="~{footer :: footer}"></div>
</footer>

<script src="/js/scripts.js"></script>

</body>
</html>