<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olsker Cupcake Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/src/main/resources/img/cupcake_logo.png">
    <link rel="stylesheet" href="/src/main/resources/public/css/styles-dashboard.css">
</head>
<body>

<main>
    <div>
        <div is="side-bar">
            Dashboard
            POS
            Online
            Analytics
            Settings
        </div>

        <div class="dashboard-display">
            <div id="dashboard">

            </div>

            <div id="pos">

            </div>

            <div id="online">

            </div>

            <div id="analytics">

            </div>

            <div id="settings">

            </div>
        </div>
    </div>
</main>

</body>
</html>