<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olsker Cupcake Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/img/cupcake_logo.png">
    <link rel="stylesheet" href="/css/styles-website.css">
</head>
<body>
<header>
    <div th:insert="~{header :: header}"></div>
</header>



<main>

    <div th:insert="~{topbar :: topbar}"></div>
    <h1>Dashboard</h1>

    <div class="dashboard-container">

        <div class="dashboard-box">
            <img src="/img/icons/graph.png">
            <h3>Financial</h3>
            <ul>
                <li>Turnover: 15.472 DKK</li>
                <li>Cost: 7.850 DKK</li>
                <li>Profit: 7.622 DKK</li>
            </ul>
            <p class="coming-soon">Feature coming soon...</p>
        </div>

        <div class="dashboard-box">
            <img src="/img/icons/sales.png">
            <h3>Sales</h3>
            <ul>
                <li>Webshop: 11.657 DKK</li>
                <li>Store: 3.815 DKK</li>
            </ul>
            <p class="coming-soon">Feature coming soon...</p>
        </div>

        <div class="dashboard-box">
            <img src="/img/icons/popular.png">
            <h3>Most Popular Flavor</h3>
            <ul>
                <li>Cupcake Bottom id: 4</li>
                <li>Cupcake Top id: 7</li>
            </ul>
            <p class="coming-soon">Feature coming soon...</p>
        </div>

        <div class="dashboard-box">
            <img src="/img/icons/info.png">
            <h3>General Information</h3>
            <ul>
                <li>Total Sales: 178</li>
                <li>Total Customers: 96</li>
            </ul>
            <p class="coming-soon">Feature coming soon...</p>
        </div>

    </div>
</main>

<footer>
    <div th:insert="~{footer :: footer}"></div>
</footer>

</body>
</html>