<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olsker Cupcake Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/img/cupcake_logo.png">
    <link rel="stylesheet" href="/css/styles-website.css">
</head>
<body>
<header>
    <div th:insert="~{header :: header}"></div>
</header>



<main>

    <div th:insert="~{dashboard-topbar :: dashboard-topbar}"></div>
    <div>
        <div is="side-bar">
            Dashboard
            POS
            Online
            Analytics
            Settings
        </div>

        <div class="dashboard-display">
            <div id="dashboard">

            </div>

            <div id="pos">

            </div>

            <div id="online">

            </div>

            <div id="analytics">

            </div>

            <div id="settings">

            </div>
        </div>
    </div>
</main>

<footer>
    <div th:insert="~{footer :: footer}"></div>
</footer>

</body>
</html>