<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olsker Cupcake</title>
    <link rel="icon" type="image/x-icon" href="/img/cupcake_logo.png">
    <!--<link rel="stylesheet" href="/src/main/resources/public/css/styles-website.css"> -->
    <link rel="stylesheet" href="/css/styles-website.css">
</head>
<body>
<header>
    <div class="header-container">
        <img id="header-img" src="/img/cupcakelogo.png">
    </div>
</header>


<main>
    <div class="top-bar">
        <div class="top-nav">
            <p th:text="|${email}|"></p>
            <img src="/img/icons/profile.png">
        </div>

        <div class="top-nav">
            <img src="/img/icons/shopping-basket.png">
        </div>
    </div>
    <div class="product-container">
        <div class="product-menu">
            <div class="menu-collapsed">
                <img src="/img/icons/cupcake.png">
                <img src="/img/icons/drink.png">
                <img src="/img/icons/gift-card.png">
            </div>

            <div class="menu-expanded">
                <div id="menu-cupcake" class="menu">
                    <img src="/img/icons/cupcake.png" href="cupcake">
                    <a>Cupcake</a>
                </div>

                <div id="menu-drinks" class="menu">
                    <img src="/img/icons/drink.png" href="drinks">
                    <a>Drinks</a>
                </div>

                <div id="menu-misc" class="menu">
                    <img src="/img/icons/gift-card.png" href="misc">
                    <a>Miscellaneous</a>
                </div>
            </div>
        </div>

        <div class="product-display">
            <div class="product-boxes" id="cupcake">
                <h2 class="product-menu-title">Cupcake</h2>
                <form class="cupcake-builder">
                    <div class="cupcake-choice">
                        <h3>Pick cupcake bottom</h3>
                        <label class="products" th:each="cupcakeBottom : ${cupcakeBottomList}">
                            <input type="radio" name="cupcakeBottom" th:value="${cupcakeBottom.salesPrice}" class="cupcakeBottomRadio" required>

                            <div class="product-info">
                                <p class="flavour-info" th:text="${cupcakeBottom.flavor}"></p>
                                <p class="sub-info">Price: <span th:text="${cupcakeBottom.salesPrice}"></span></p>
                                <p class="sub-info">More info</p>
                            </div>

                            <div class="product-img">
                                <img th:src="@{'/img/icons/cupcakeBuilder/' + ${cupcakeBottom.path}}" alt="Cupcake Image">
                            </div>
                        </label>
                    </div>

                    <div class="cupcake-choice">
                        <h3>Pick cupcake top</h3>
                        <label class="products" th:each="cupcakeTop : ${cupcakeTopList}">
                            <input type="radio" name="cupcakeTop" th:value="${cupcakeTop.salesPrice}" class="cupcakeTopRadio" required>

                            <div class="product-info">
                                <p class="flavour-info" th:text="${cupcakeTop.flavor}"></p>
                                <p class="sub-info">Price: <span th:text="${cupcakeTop.salesPrice}"></span></p>
                            </div>

                            <div class="product-img">
                                <img th:src="@{'/img/icons/cupcakeBuilder/' + ${cupcakeTop.path}}" alt="Cupcake Image">
                            </div>
                        </label>
                    </div>

                    <div id="cupcake-display">
                        <div>
                            <div id="cupcake-bottom-img" class="cupcake">
                                <!-- TODO: Bottom img -->
                            </div>
                            
                            <div id="cupcake-top-img" class="cupcake">
                                <!-- TODO: Top img -->
                            </div>
                        </div>
                        
                        <div id="amount-box">
                            <button id="cupcake-subtract" class="operator-button"></button>
                            <input type="text" class="amount-input">
                            <button id="cupcake-addition" class="operator-button"></button>
                            <!-- TODO: Fix amount box number -->
                        </div>

                        <div>
                            <p>Total price: <span id="totalPrice">0</span> </p>
                        </div>

                        <button type="submit">
                            Add to basket
                            <!-- TODO: Fix styling of box and add to basket when clicked -->
                        </button>
                    </div>
                </form>
            </div>


            <div class="product-boxes" id="drinks">
                <h2 class="product-menu-title">Drinks</h2>
            </div>

            <div class="product-boxes" id="misc">
                <h2 class="product-menu-title">Gift card</h2>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="footer-containers" id="contact">
        <h2>Contact</h2>
    </div>

    <div class="footer-containers" id="trustpilot">
        <h2>Trustpilot</h2>
    </div>

    <div class="footer-containers" id="google-map">
        <iframe src="https://maps.google.com/maps?width=100%25&amp;height=250&amp;hl=en&amp;q=Firskovsvej%2018+(Olsker%20Cupcake)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
    </div>
</footer>

<script src="/js/scripts.js"></script>

</body>
</html>