<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Olsker Cupcake</title>
    <link rel="icon" type="image/x-icon" href="/img/cupcake_logo.png">
    <!--<link rel="stylesheet" href="/src/main/resources/public/css/styles-website.css"> -->
    <link rel="stylesheet" href="/css/styles-website.css">
</head>
<body>
<header>
    <div th:insert="~{header :: header}"></div>
</header>


<main>
    <div th:insert="~{topbar :: topbar}"></div>

    <div class="product-container">
        <div class="product-menu">
            <div class="menu-collapsed">
                <img src="/img/icons/cupcake.png">
                <img src="/img/icons/drink.png">
                <img src="/img/icons/gift-card.png">
            </div>

            <div class="menu-expanded">
                <div id="menu-cupcake" class="menu">
                    <img src="/img/icons/cupcake.png" href="cupcake">
                    <a>Cupcake</a>
                </div>

                <div id="menu-drinks" class="menu">
                    <img src="/img/icons/drink.png" href="drinks">
                    <a>Drinks</a>
                </div>

                <div id="menu-misc" class="menu">
                    <img src="/img/icons/gift-card.png" href="misc">
                    <a>Miscellaneous</a>
                </div>
            </div>
        </div>

        <div class="product-display">
            <div class="product-boxes" id="cupcake">
                <h2 class="product-menu-title">Cupcake</h2>
                <form class="cupcake-builder" action="/" method="POST" id="basketForm">
                    <div class="cupcake-choice">
                        <h3>Pick cupcake bottom</h3>
                        <label class="products" th:each="cupcakeBottom : ${cupcakeBottomList}">
                            <input type="radio" name="cupcakeBottom" th:value="${cupcakeBottom.id}" class="cupcakeBottomRadio" required>

                            <div class="product-info">
                                <p class="flavor-info" th:text="${cupcakeBottom.flavor}"></p>
                                <p class="sub-info">Price: <span th:text="${cupcakeBottom.salesPrice}"></span></p>
                            </div>

                            <div class="product-img">
                                <img th:src="@{'/img/icons/cupcakeBuilder/' + ${cupcakeBottom.path}}" alt="Cupcake Image">
                            </div>
                        </label>
                    </div>

                    <div class="cupcake-choice">
                        <h3>Pick cupcake top</h3>
                        <label class="products" th:each="cupcakeTop : ${cupcakeTopList}">
                            <input type="radio" name="cupcakeTop" th:value="${cupcakeTop.id}" class="cupcakeTopRadio" required>

                            <div class="product-info">
                                <p class="flavor-info" th:text="${cupcakeTop.flavor}"></p>
                                <p class="sub-info">Price: <span th:text="${cupcakeTop.salesPrice}"></span></p>
                            </div>

                            <div class="product-img">
                                <img th:src="@{'/img/icons/cupcakeBuilder/' + ${cupcakeTop.path}}" alt="Cupcake Image">
                            </div>
                        </label>
                    </div>


                    <div id="cupcake-display">
                        <div>
                            <div id="cupcake-bottom-img" class="cupcake">
                                <!-- TODO: Bottom img -->
                            </div>
                            
                            <div id="cupcake-top-img" class="cupcake">
                                <!-- TODO: Top img -->
                            </div>
                        </div>
                        
                        <div id="amount-box">
                            <button id="cupcake-subtract" class="operator-button"></button>
                            <input type="text" class="amount-input">
                            <button id="cupcake-addition" class="operator-button"></button>
                            <!-- TODO: Fix amount box number -->
                        </div>

                        <div>
                            <p>Total price: <span id="totalPrice">0.00</span> DKK </p>
                        </div>

                        <button type="submit" id="addToBasket">Add to basket</button>
                            <!-- TODO: Fix styling of box and add to basket when clicked -->
                    </div>
                </form>
            </div>


            <div class="product-boxes" id="drinks">
                <h2 class="product-menu-title">Drinks</h2>
            </div>

            <div class="product-boxes" id="misc">
                <h2 class="product-menu-title">Gift card</h2>
            </div>
        </div>
    </div>
</main>

<footer>
    <div th:insert="~{footer :: footer}"></div>
</footer>

<script src="/js/scripts.js"></script>

</body>
</html>