<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Olsker Cupcake Process Payment</title>
  <link rel="icon" type="image/x-icon" href="/img/cupcake_logo.png">
  <link rel="stylesheet" href="/css/styles-website.css">
</head>
<body>
<header>
  <div th:insert="~{header :: header}"></div>
</header>


<main>
  <div th:insert="~{topbar :: topbar}"></div>




</main>

<footer>
  <div th:insert="~{footer :: footer}"></div>
</footer>

<script src="/js/scripts.js"></script>

</body>
</html>