<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Olsker Cupcake Process Payment</title>
  <link rel="icon" type="image/x-icon" href="/img/cupcake_logo.png">
  <link rel="stylesheet" href="/css/styles-website.css">
</head>
<body>
<header>
  <div th:insert="~{header :: header}"></div>
</header>


<main>

  <div th:insert="~{topbar :: topbar}"></div>

  <div class="payment-box" th:if="${user}">
    <h2>Payment Summary</h2>

    <p>Your Balance: <strong>$<span th:text="${user.balance} ?: '0.00'"></span></strong></p>
    <p>Basket Price: <strong>$<span th:text="${basketTotal} ?: '0.00'"></span></strong></p>
    <hr>
    <p>Balance After Payment: <strong>$<span th:text="${user.balance - basketTotal} ?: '0.00'"></span></strong></p>

    <form action="/process-payment" method="post">
      <button type="submit" name="paymentMethod" value="cash">Cash</button>
    </form>

    <form action="/process-payment" method="post">
      <button type="submit" name="paymentMethod" value="mobilepay">MobilePay</button>
    </form>

    <form action="/process-payment" method="post">
      <button type="submit" name="paymentMethod" value="balance">Balance</button>
    </form>
  </div>



</main>

<footer>
  <div th:insert="~{footer :: footer}"></div>
</footer>

<script src="/js/scripts.js"></script>

</body>
</html>