<div th:fragment="topbar" class="topbar-container">
    <a href="/" id="logo">
        <img src="/img/cupcake_logo_removedbg.png">
    </a>

    <div th:if="${session.isEmployee}" class="dashboard-top-bar">
        <a href="/all-orders" class="icon">
            <img src="/img/icons/all-orders.png">
            <p>All orders</p>
        </a>

        <a href="/all-profiles" class="icon">
            <img src="/img/icons/all-profiles.png">
            <p>All profiles</p>
        </a>
    </div>

    <div class="top-bar">
        <div class="profile-container">
            <a th:href="${session.user != null} ? '/' : '/login'" class="top-nav" id="profile-collapsed">
                <p class="top-nav-email" th:text="${session.email}"></p>
                <img src="/img/icons/profile.png" class="top-bar-img">
            </a>

            <div class="profile-expanded" th:if="${session.user != null}">
                <div class="profile-options">
                    <form action="/profile-orders" method="post">
                        <input type="hidden" name="email" th:value="${session.email}">
                        <button type="submit">
                            <img src="/img/icons/orders.png" class="top-bar-img">
                        </button>
                    </form>
                </div>

                <div class="profile-options">
                    <form action="/settings" method="post">
                        <input type="hidden" name="email" th:value="${session.email}">
                        <button type="submit">
                            <img src="/img/icons/settings.png" class="top-bar-img">
                        </button>

                    </form>
                </div>

                <div class="profile-options">
                    <form action="/logout" method="post">
                        <button type="submit" class="logout-button">
                            <img src="/img/icons/logout.png" class="top-bar-img" alt="Logout">
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <a href="/basket" class="top-nav">
            <img src="/img/icons/shopping-basket.png" class="top-bar-img">
        </a>
    </div>
</div>
